<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898272517006-vkoqupc5l7atjheodm15ibtam41ikl7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898272517006-vkoqupc5l7atjheodm15ibtam41ikl7e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>898272517006-8sggcu1b0qhklmciuc2fr4thfr95euqn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCcvciqMd8FwntiqzOwqDZcqtzawA6vnFI</string>
	<key>GCM_SENDER_ID</key>
	<string>898272517006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecomApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>test-ee4d9</string>
	<key>STORAGE_BUCKET</key>
	<string>test-ee4d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898272517006:ios:10fc21e5fbf5aab2ae22df</string>
	<key>DATABASE_URL</key>
	<string>https://test-ee4d9-default-rtdb.firebaseio.com</string>
</dict>
</plist>